*{
    font-family: 'Gowun Dodum', sans-serif;
}

a{
    color:black;
    text-decoration:none;
}
h1{
    text-align:center;
    border-bottom:2px solid gray;
    margin:0;
    padding: 20px;

}
ul{
    margin:0;
    padding:20px;
    background-color:antiquewhite;

}
#grid{
    height:700px;
    display:grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows:auto;
}

#grid #active{
    padding-left:20px;
    display: flex;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    height:300px;

}

#input-sli{
    display:none;
}
#input-li{
    width:100px;
}

.calendar {
    width: 600px;
    height: 300px;
    margin: 50px;
    
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .year-month {
    font-size: 35px;
  }
  
  .nav {
    display: flex;
    border: 1px solid #333333;
    border-radius: 5px;
  }
  
  .nav-btn {
    width: 28px;
    height: 30px;
    border: none;
    font-size: 16px;
    line-height: 34px;
    background-color: transparent;
    cursor: pointer;
  }
  
  .go-today {
    width: 75px;
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
  }

  .days {
    display: flex;
    margin: 25px 0 10px;
  }
  
  .day {
    width: calc(100% / 7);
    text-align: center;
  }
  
  .dates {
    display: flex;
    flex-flow: row wrap;
    height: 500px;
    border-top: 1px solid #333333;
    border-right: 1px solid #333333;
  }
  
  .date {
    width: calc(100% / 7);
    padding: 15px;
    text-align: right;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #333333;
  }

.day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
  color: #D13E3E;
}

.day:nth-child(7n),
.date:nth-child(7n) {
  color: #396EE2;
}


@media(max-width:800px){
    #grid{
        display: block;
    }
    ul{
        border-right:none;
    }
    h1{
        border-bottom: none;
    }
}

 